* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    background-color: blueviolet;
    height: 15vh;
    line-height: 15vh;
}

main {
    display: flex;
    height: 70vh;
    line-height: 70vh;
}

article {
    flex:3;
    order: 2;
}

aside {
    flex: 1;
    background-color: lightgreen;
    order: 3;
}

nav {
    flex: 1;
    background-color: pink;
    order: 1;
}

footer {
    background-color: olive;
    height: 15vh;
    line-height: 15vh;
}